{% extends 'base.html.twig' %}

{% block title %}Admin!{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <div class="grid grid-cols-1 gap-4 place-content-center">
            <div class="mx-auto w-4/5">

                {% include 'backButton.html.twig' with {'link': '/'}%}

                {% if is_granted('ROLE_ROOT') %}
                    <a href="/admin/users_root" class="mx-auto block uppercase mt-15 bg-blue-500 text-gray-100 text-lg w-2/5 mt-10 font-extrabold py-4 px-8 rounded-3xl min-w-40 text-center">All Users</a>
                {% else %}
                    <a href="/admin/users" class="mx-auto block uppercase mt-15 bg-blue-500 text-gray-100 text-lg w-2/5 mt-10 font-extrabold py-4 px-8 rounded-3xl min-w-40 text-center">Users</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
