{% extends "./base.html.twig" %}

{% block title %}Editing a Movie!{% endblock %}

{% block body %}
	<div class="w-4/5 m-auto text-left">
		{% include 'backButton.html.twig' with {'link': 'javascript:history.back()'}%}
		<div class="py-15">
			<h1 class="text-6xl text-center pb-12">
				Edit Movie
			</h1>
		</div>
	</div>

	<div class="w-4/5 m-auto">
		{{ form_start(form) }}
		{{ form_widget(form) }}

		<button type="submit" class="mx-auto block uppercase bg-blue-500 text-gray-100 text-lg w-2/5 mt-10 font-extrabold py-4 px-8 rounded-3xl min-w-40">Submit Review</button>


		{{ form_end(form) }}
	</div>
{% endblock %}