{% extends 'base.html.twig' %}

{% block title %}Path not found!{% endblock %}

{% block body %}
    <div class="container mx-auto text-center">
        <h1 class="font-bold underline">Error: Path not found!</h1>
        <button onclick="history.back()" class="my-5 p-2 rounded bg-amber-100 hover:bg-amber-200">Go Back</button>
    </div>
{% endblock %}
